* { outline: 0 !important; -webkit-tap-highlight-color: rgba(0,0,0,0); }

/*
xs
@media (max-width: 575px) {}

sm
@media (min-width: 576px) and (max-width: 767px) {}

md
@media (min-width: 768px) and (max-width: 991px) {}

lg
@media (min-width: 992px) and (max-width: 1199px) {}

xl
@media (min-width: 1200px) and (max-width: 1919px) {}

xxl
@media (min-width: 1920px) {}
 */

/* General */
	.h2 {
		font-size: 36px;
	    font-weight: 500;
	    color: #374047;
	    box-sizing: border-box;
	    padding: 0 0 15px;
	}

	.h3 {
		font-size: 28px;
	    font-weight: 500;
	    color: #374047;
	    box-sizing: border-box;
	    padding: 0 0 15px;
	}

	.h4 {
		font-size: 24px;
	    font-weight: 500;
	    color: #374047;
	    box-sizing: border-box;
	    padding: 0 0 15px;
	}

	p {
		font-size: 16px;
	    line-height: 24px;
	    color: #374047;
	    box-sizing: border-box;
	    padding: 0 0 15px;
	}

	p.xs {
		font-size: 14px;
	    line-height: 24px;
	    color: #767B81;
	    box-sizing: border-box;
	    padding: 0 0 5px;
	}

	ul.list {
		list-style: circle;
		box-sizing: border-box;
		padding: 0 0 0 30px;
	}

	ul.list>li {
		font-size: 16px;
	    line-height: 24px;
	    color: #374047;
	    box-sizing: border-box;
	    padding: 0 0 15px;
	}

	.link {
		display: inline-block;
	    background: transparent;
	    border: none;
	    box-sizing: border-box;
	    padding: 0 0 5px;

	    font-size: 14px;
	    line-height: 24px;
	    color: #749D3E;
	    text-decoration: underline;
	    cursor: pointer;
	}

	.link:hover {
	    text-decoration: none;
	}

	[data-display="disabled"] {
		pointer-events: none !important;
	}
/* General */

/* Assets */
	/* Header */
		@media (max-width: 991px) {
			.big-picture .logo {
				display: block;
				width: 100px;
				height: 46px;
				margin: 0px auto 15px;
			}

			.big-picture .b-p_title {
				top: 35%;
			}
		}

		@media (min-width: 992px) {
			.big-picture .logo {
				display: none;
			}
		}
	/* Header */

	/* Category */
		.product-sale-container {
			display: block;
			box-sizing: border-box;
			padding: 0px 15px;
		}

		.product-sale {
			position: relative;
			display: block;
			width: 100%;
			height: 32px;
		    box-sizing: border-box;
		    margin: 5px 0px 5px;
		    padding: 10px 15px;
		    border-radius: 50px;
		    background-color: #F5F7F9;
		    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,.15);
	    	box-shadow: 0 4px 7px rgba(0,0,0,.15);

			font-size: 14px;
			font-weight: 500;
		    color: #749d3e;
		    line-height: 12px;
		    text-align: center;
		}

		.product-sale.empty {
			opacity: 0;
		}

		.product-sale .price {
		    text-decoration: line-through;
		}

		@media (max-width: 767px) {
			.product-sale {
			    padding: 10px 10px;
				font-size: 10px;
			}
		}

		.p-o_right.sale .p-o_price {
			color: #f17e46;
		}

		.p-o_right.sale .p-o_submit {
			background-color: #f17e46;
		}
	/* Category */

	/* Product */
		.product .attributes {
			display: block;
			width: 100%;
			height: auto;
		}

		.product .attributes > .item {
			display: block;
			position: relative;
			width: 100%;
			height: auto;
			overflow: hidden;
		}

		.product .attributes > .item:after {
			content: '...............................................................................................................................................................................................................................................................';
			position: absolute;
			top: auto;
			bottom: 5px;
			left: 0px;
			width: 100%;
			height: auto;
			z-index: 1;

			font-size: 12px;
			color: #6D757B;
		}

		.product .attributes > .item > div {
			display: block;
			float: left;
			width: 50%;
			height: auto;
		}

		.product .attributes > .item > div:first-child p {
			padding: 0px 5px 0px 0px;
		}

		.product .attributes > .item > div:last-child p {
			padding: 0px 0px 0px 5px;
		}


		.product .attributes span {
			font-size: 16px;
			color: #6D757B;
			line-height: 30px;
		}

		.product .attributes p {
			display: inline-block;
			position: relative;
			background-color: #FFFFFF;
			padding: 0px;
			z-index: 100;

			font-size: 16px;
			color: #374047;
			line-height: 24px;
		}
		.product .attributes p b {
			font-weight: bold;
		}
	/* Product */
/* Assets */

/* Modals */
	/* General */
		.remodal {
			position: relative;
			min-height: 460px;
			border-radius: 5px;
			overflow: hidden;
		}

		@media (max-width: 575px) {
			.remodal {
				min-height: 400px;
			}
		}

		.remodal:before {
		    display: block;
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    border-top: 4px solid #6D943A;
		    z-index: 3;
		    -webkit-border-top-left-radius: 4px;
		    -webkit-border-top-right-radius: 4px;
		    -moz-border-radius-topleft: 4px;
		    -moz-border-radius-topright: 4px;
		    border-top-left-radius: 4px;
		    border-top-right-radius: 4px;
		}

		.modal-sm {
			width: 460px;
			max-width: 460px;
			overflow: hidden;
		}

		.modal-xs {
			width: 460px;
			max-width: 460px;
			min-height: 300px;
			overflow: hidden;
		}

		@media (min-width: 768px) {
			.modal-md {
				width: 768px;
				max-width: 768px;
				overflow: hidden;
			}

			.modal-xl {
				width: 90%;
				max-width: 100%;
				overflow: hidden;
			}

			.modal-lg {
				width: 90%;
				max-width: 1000px;
				overflow: hidden;
			}
		}

		@media (max-width: 575px) {
			.modal-sm {
				width: 300px;
				max-width: 300px;
				overflow: hidden;
			}

			.modal-xs {
				width: 100%;
				max-width: none;
				min-height: 250px;
				overflow: hidden;
			}
		}

		.modal-profile:before {
			display: none;
		}
	/* General */

	/* Body */
		.remodal .body {
			box-sizing: border-box;
			padding: 45px 30px;
		}

		@media (max-width: 478px) {
			.remodal .body {
				box-sizing: border-box;
				padding: 25px 15px;
			}
		}
	/* Body */

	/* Tabs */
		.modal-sm .tabs__caption {
			display: block;
			width: 100%;
			height: auto;
			overflow: hidden;
		}

		.modal-sm .tabs__caption > li {
			float: left;
			width: 50%;
			margin: 0;

			font-size: 16px;
		    height: 60px;
		    line-height: 60px;
		}

		@media (max-width: 575px) {
			.modal-sm .tabs__caption > li {
				font-size: 14px;
			    height: 40px;
			    line-height: 40px;
			}
		}

		.tabs__caption li.active:before {
			border-top: 4px solid #6D943A;
		    -webkit-border-radius: 0px;
		    -moz-border-radius: 0px;
		    border-radius: 0px;
		}
	/* Tabs */

	/* Box */
		.modal-sm .t-c_box {
			padding: 60px 80px;
		}

		@media (max-width: 575px) {
			.modal-sm .t-c_box {
				padding: 40px 20px;
			}
		}

		.t-c_box .t-c_title {
		    font-size: 26px;
		    margin: 0 0 30px 0;
		}

		.t-c_box .t-c_subtitle {
		    box-sizing: border-box;

		    font-size: 16px;
		    position: relative;
		    font-weight: 500;
			color: #868a8d;
		}

		.t-c_box .t-c_input .input {
		    font-size: 16px;
		    margin: 0 0 15px 0;
		    padding: 18px 0 20px 0;
		}

		.t-c_box .t-c_input.input-error_1 .input {
			border-color: #dd0000;
		}

		.t-c_input .underline {
		    top: 57px;
		}

		.t-c_box .message-error{
		    display: none;
		    vertical-align: top;
		    font-size: 14px;
		    color: #dd0000;
		    font-weight: 700;
		    letter-spacing: 0.06em;
		    text-align: left;
		}

		.t-c_box  input[type="submit"],
		.t-c_box  .submit {
		    display: inline-block;
		    vertical-align: top;
		    width: 100%;
		    height: auto;
		    text-decoration: none;
		    color: #ffffff;
		    font-size: 16px;
		    text-align: center;
		    line-height: 60px;
		    background: #749D3E;
		    transition: 0.3s ease-out all;
		    -moz-border-radius: 4px;
		    -webkit-border-radius: 4px;
		    border-radius: 4px;
		    -moz-box-shadow: 0 2px 13px rgba(0,0,0,.19);
		    -webkit-box-shadow: 0 2px 13px rgba(0,0,0,.19);
		    box-shadow: 0 2px 13px rgba(0,0,0,.19);
		    font-weight: 600;
		    letter-spacing: 0.06em;
		    margin: 30px 0;
		    border: none;
		    cursor: pointer;
		}
	/* Box */

	/* Message */
		.t-c_box .message.success,
		.body .message.success {
			display: none;
			height: 300px;
		}

		.t-c_box .wrap-table,
		.body .wrap-table {
			display: table;
			width: 100%;
			height: 100%;
		}

		.t-c_box .wrap-table > .wrap-cell,
		.body .wrap-table > .wrap-cell {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			height: auto;
		}

		.t-c_box .message-success,
		.body .message-success {
		    display: none;
		    vertical-align: top;
		    font-size: 18px;
		    line-height: 30px;
		    color: #374047;
		    font-weight: 700;
		    letter-spacing: 0.06em;
		    text-align: center;
		}
	/* Message */

	/* Footer */
		.remodal .footer-row {
			display: block;
			width: 100%;
			height: auto;
			overflow: hidden;
			border-top: 1px solid #D4D7DF;
		}

		.remodal .footer-row .col {
			display: block;
			float: left;
			width: 50%;
			height: 100%;
			box-sizing: border-box;
			margin: 0;
			padding: 10px 5px 15px;
			text-align: center;
		}

		.remodal .footer-row .col:first-child {
			border-right: 1px solid #D4D7DF;
		}


		.remodal .footer-row .col span {
			font-size: 16px;
			line-height: 28px;
			color: #868a8d;
		}

		@media (max-width: 575px) {
			.remodal .footer-row .col span {
				font-size: 12px;
			}
		}

		.remodal .footer-row .col a {
			text-decoration: underline;
		}

		@media (max-width: 575px) {
			.remodal .footer-row .col a {
				font-size: 14px;
			}
		}

		.remodal .footer-row .col a:hover {
			text-decoration: none;
		}
	/* Footer */

	/* Close */
		.remodal-close {
		    display: block;
		    position: absolute;
		    left: auto;
		    width: 17px;
		    height: 17px;
		    background: url(/new_design/img/img_close_2.png) no-repeat;
		    background-position: top center;
		    top: 23px;
		    right: 23px;
		    left: inherit;
		    z-index: 100;
		    box-sizing: border-box;
		}

		.remodal-close:hover {
		    background-position: bottom center;
		}

		.remodal-close:before {
		    display: none;
		}
	/* Close */

	/* Cart */
		.remodal.modal-basket {
			max-width: 880px;
			height: auto;
			overflow: hidden;
		}

		/* Close */
			.modal-basket .remodal-close {
				top: 12px;
				right: 12px;
			}
		/* Close */

		/* Header */
			.remodal .cart-header {
				display: block;
				width: 100%;
				height: auto;
				box-sizing: border-box;
				padding: 15px 0px 0px;
				border-bottom: 1px solid #e2e2e2;
			}
		/* Header */

		/* Footer */
			.remodal .cart-footer {
				display: block;
				width: 100%;
				height: auto;
				box-sizing: border-box;
				padding: 15px 0px;
				border-top: 1px solid #e2e2e2;
			}
		/* Footer */

		/* Body */
			@media (min-width: 992px) {
				.remodal.modal-basket .body {
					box-sizing: border-box;
					padding: 30px 90px;
				}
			}
		/* Body */

		/* Products */
			.remodal .cart-products {
				display: block;
				width: 100%;
				height: auto;
			}

			.remodal .cart-products .product {
				display: table;
				position: relative;
				width: 100%;
				clear: both;
				box-sizing: border-box;
				padding: 15px 0px;
				border-bottom: 1px solid #e2e2e2;

				text-align: left;
			}

			.remodal .cart-products .product:last-child {
				border: none;
			}

			.remodal .cart-products .product .col {
				display: table-cell;
				vertical-align: middle;
				width: auto;
			}

			.remodal .cart-products .product p {
				display: block;
				padding: 0;

				font-size: 15px;
				line-height: 18px;
				font-weight: 500;
			}

			@media (max-width: 478px) {
				.remodal .cart-products .product p {
					font-size: 12px;
					line-height: 16px;
				}
			}

			/* Image */
				.remodal .cart-products .product .col.thumb {
					width: 80px;
					height: 80px;
				}
				
				.remodal .cart-products .product .col.thumb img {
					display: block;
					width: inherit;
					height: inherit;
					border-radius: 4px;
				}

				@media (max-width: 478px) {
					.remodal .cart-products .product .col.thumb {
						width: 40px;
						height: 40px;
					}
				}

				.remodal .cart-products .product .col.thumb.none {
					position: relative;
				}

				.remodal .cart-products .product .col.thumb.none:before {
					content: ' ';
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;

					background-color: rgba(255,255,255,0.5);

					z-index: 100;
				}
				.remodal .cart-products .product .col.thumb.none:after {
					content: ' ';
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;

					background: url(../img/svg/prohibition-sign.svg) no-repeat center center scroll; 
					-webkit-background-size: 65% 65%;
					-moz-background-size: 65% 65%;
					-o-background-size: 65% 65%;
					background-size: 65% 65%;

					z-index: 200;
				}
			/* Image */

			/* About */
				.remodal .cart-products .product .col.about {
					width: 55%;
					box-sizing: border-box;
					padding: 30px 30px;
				}

				.remodal .cart-products .product .col.about .thumb {
					display: none;
				}

				@media (max-width: 575px) {
					.remodal .cart-products .product .col.about {
						padding: 15px;
					}
				}
			/* About */

			/* Quantity */
				.remodal .cart-products .product .col.quantity .total {
					display: none;
				}

				.remodal .cart-products .product .col.quantity .p-o_select {
					float: none;
					margin: 0;
				}

				@media (max-width: 767px) {
					.remodal .cart-products .product .col.quantity {
						text-align: center;
						padding: 0 30px 0 0;
					}

					.remodal .cart-products .product .col.quantity .total {
						display: block;
					}

					.remodal .cart-products .product .col.quantity .p-o_select {
					    width: 87px;
					    height: 33px;
					    margin: 5px auto;
					}

					.remodal .cart-products .product .col.quantity .p-o_select .selectric-wrapper {
					    height: 100%;
					    font-size: 100%;
					}

					.remodal .cart-products .product .col.quantity .selectric {
					    height: 100%;
					    -moz-border-radius: 16px / 17px;
					    -webkit-border-radius: 16px / 17px;
					    border-radius: 16px / 17px;
					    background-color: #fff;
					    -moz-box-shadow: 0 5px 10px rgba(6,21,38,.17);
					    -webkit-box-shadow: 0 5px 10px rgba(6,21,38,.17);
					    box-shadow: 0 5px 10px rgba(6,21,38,.17);
					    position: relative;
					}

					.remodal .cart-products .product .col.quantity .selectric .button {
					    display: block !important;
					    width: 8px !important;
					    height: 6px;
					    top: 14px;
					    background: url(../../../../../new_design/img/img_arrow_3.png) no-repeat 0% 0 !important;
					    position: absolute;
					    right: 13px;
					    font-size: 0;
					}

					.remodal .cart-products .product .col.quantity .selectric .label {
					    display: block;
					    white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    font-size: 15px;
					    font-weight: 700;
					    line-height: 33px !important;
					    box-sizing: border-box;
					    padding: 0 15px 0 14px;
					    color: #999D9F;
					    height: 33px !important;
					    -webkit-user-select: none;
					    -moz-user-select: none;
					    -ms-user-select: none;
					    user-select: none;
					}
				}

				@media (max-width: 478px) {
					.remodal .cart-products .product .col.quantity .selectric .label {
					    font-size: 12px;
					}
				}
			/* Quantity */

			/* Total */
				@media (max-width: 767px) {
					.remodal .cart-products .product .col.total {
						display: none;
					}
				}
			/* Total */

			/* Remove */
				.remodal .cart-products .product button.remove {
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					left: auto;
					right: 0;
					width: 17px;
					height: 17px;
					margin: auto;
					border: none;
					background: url(../../../../../new_design/img/img_close_2.png) no-repeat;
					z-index: 100;
					cursor: pointer;

					-webkit-transform: scale(0.6,0.6);
					-moz-transform: scale(0.6,0.6);
					-ms-transform: scale(0.6,0.6);
					-o-transform: scale(0.6,0.6);
					transform: scale(0.6,0.6);
				}

				.remodal .cart-products .product button.remove:hover {
				    background-position: 0 -17px;
				}
			/* Remove */
		/* Products */

		/* Coupon */
			.remodal.modal-basket .coupon {
				width: 100%;
				width: calc(100% + 180px);
				height: auto;
				margin-left: -90px;
			}

			.remodal.modal-basket .coupon .apply {
				display: none;
				box-sizing: border-box;
				padding: 30px;
				background-color: #ECECEC;
			}
		/* Coupon */

		/* Form */
			.remodal .cart-form {
				display: block;
				width: 500px;
				margin: 0 auto;
			}

			@media (max-width: 768px) {
				.remodal .cart-form {
					width: 100%;
				}
			}

			.remodal .cart-form .form-input {
				width: 100%;
			}

			.remodal .cart-form .row {
				display: block;
			}

			.remodal .cart-form .row > .col {
				display: inline-block;
				width: 49.6%;
			}

			@media (max-width: 575px) {
				.remodal .cart-form .row > .col {
					display: block;
					width: 100%;
				}
			}

			/* Date time */
				@media screen and (max-width: 767px) {
					.remodal .cart-form .selectric-wrapper {
					    height: auto;
					    font-size: 8px;
					}

					.remodal .cart-form .selectric .button {
					    width: 8px;
					    height: 6px;
					    top: 14px;
					    right: 13px;
					    font-size: 0;
					}
				}
			/* Date time */

			/* Payment methods*/
				.remodal .cart-form .payment-methods {
					display: block;
					width: 100%;
					height: auto;
				}

				.remodal .cart-form .payment-methods .payment-method {
					cursor: pointer;
					opacity: .5;
					
					-webkit-transition: opacity;
					-moz-transition: opacity;
					-ms-transition: opacity;
					-o-transition: opacity;
					transition: opacity;
				}

				.remodal .cart-form .payment-methods .payment-method[data-display="active"] {
					opacity: 1;
				}

				.remodal .cart-form .payment-methods .payment-method p {
					font-size: 13px;
				    font-weight: 500;
				    line-height: 38px;
				    color: #749D3E;
				    font-family: 'Roboto', sans-serif;
				    box-shadow: none;
				    text-align: left;
				}

				.remodal .cart-form .payment-methods .payment-method img {
					display: block;
					float: left;
					width: 32px;
					height: 32px;
					margin-right: 15px;
				}
			/* Payment methods*/

			/* First purchase */
				.remodal .cart-form .cart-first-purchase {
					display: none;
				}
			/* First purchase */

			/* Totals */
				.remodal .cart-form .cart-shipping-price, .remodal .cart-form .cart-total-price {
					display: none;
					width: 100%;
					height: auto;
					box-sizing: border-box;
    				padding: 15px 15px;
				}

				.remodal .cart-form .cart-shipping-price {
					width: calc(100% + 380px);
					margin-left: -190px;
					background-color: #ECECEC;
				}
			/* Totals */
		/* Form */
	/* Cart */

	/* Steps */
		.remodal .steps {
			display: block;
			width: 100%;
			height: auto;
		}

		.remodal .steps .step {
			display: none;
		}

		.remodal .steps .step[data-display="active"] {
			display: block;
		}

		.remodal .step-last {
			display: none;
		}

		/* Back */
			.remodal .back {
				display: none;
				position: relative;
				width: 100%;
				height: auto;
				background-color: #6D943A;
				border: none;

				font-size: 16px;
			    line-height: 38px;
			    color: #FFFFFF;
			    box-sizing: border-box;
			    padding: 0 30px;
				text-align: left; 
				cursor: pointer;
			}

			.remodal .back:hover {
				background-color: #749D3E;
			}

			.remodal .back:before {
				content: '';
				position: absolute;
				top: 0;
				left: 8px;
				width: 16px;
				height: 100%;
				z-index: 100;

				background: url(../../../../../new_design/img/left-arrow.svg) no-repeat center center scroll;
				-webkit-background-size: contain;
				-moz-background-size: contain;
				-o-background-size: contain;
				background-size: contain;
			}
		/* Back */
	/* Steps */

	/* Product */
		.remodal.modal-product {
			padding: 0;
		}

		.remodal.modal-product .body {
			padding: 30px 0px;
			background-color: #FFFFFF;
			text-align: left;
		}
	/* Product */
/* Modals */

/* Svg */
	.svg {
		display: inline-block;
		width: 32px;
		height: 32px;
	}

	.svg.md {
		width: 42px;
		height: 42px;
	}

	.svg.lg {
		width: 48px;
		height: 48px;
	}

	.svg.xl {
		width: 96px;
		height: 96px;
	}

	.svg > img {
		width: inherit;
	}

	.svg.logo {
		width: 80px;
		height: 20px;
	}

	@media (max-width: 991px) {
		.svg.logo-icon {
			width: 28px;
			height: 28px;
		}
	}

	.svg.logo-square {
		position: relative;
		top: 0rem;
		width: 100px;
		height: 100px;
	}

	.svg-settings {
		display: none;
	}
/* Svg */

/* Components */
	/* Nav */
		nav {
			position: fixed;
			top: 0px;
			left: 0px;
			width: 100%;
			height: auto;
			min-height: 60px;
			box-sizing: border-box;
			padding: 15px 0px;
			background-color: rgba(34, 35, 38, 0);
			z-index: 1000;

			-webkit-transition: background-color .15s;
			-moz-transition: background-color .15s;
			-ms-transition: background-color .15s;
			-o-transition: background-color .15s;
			transition: background-color .15s;
		}

		nav[data-style="solid"] {
			background-color: rgba(34, 35, 38, 1);
		}

		nav .logo {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 120px;
			height: 56px;
			z-index: 100;

			-webkit-transition: transform .5s;
			-moz-transition: transform .5s;
			-ms-transition: transform .5s;
			-o-transition: transform .5s;
			transition: transform .5s;

			-webkit-transform: translateY(10px) scale(1,1);
			-moz-transform: translateY(10px) scale(1,1);
			-ms-transform: translateY(10px) scale(1,1);
			-o-transform: translateY(10px) scale(1,1);
			transform: translateY(10px) scale(1,1);
		}

		nav[data-style="solid"] .logo {
			-webkit-transform: translateY(-4px) scale(.75,.75);
			-moz-transform: translateY(-4px) scale(.75,.75);
			-ms-transform: translateY(-4px) scale(.75,.75);
			-o-transform: translateY(-4px) scale(.75,.75);
			transform: translateY(-4px) scale(.75,.75);
		}

		@media (max-width: 991px) {
			nav .logo {
				display: none;
			}
		}


		/* Cart */
			nav .cart {
				position: relative;
			}

			nav .cart .counter {
				position: absolute;
				top: 5px;
				left: auto;
				right: -5px;
				width: auto;
				min-width: 16px;
				height: auto;
				min-height: 16px;
				border-radius: 50px;
				box-sizing: border-box;
				padding: 3px;
				background-color: #e2617f;

				font-size: 10px;
				line-height: 10px;
				text-align: center;
				color: #FFFFFF;
			}
		/* Cart */

		/* Search */
			nav .search {
				display: block;
				position: relative;
				width: 0px;
				height: 28px;
				margin: 0px 20px 0px 0px;
				overflow: hidden;

				-webkit-transition: width .5s, opacity .5s;
				-moz-transition: width .5s, opacity .5s;
				-ms-transition: width .5s, opacity .5s;
				-o-transition: width .5s, opacity .5s;
				transition: width .5s, opacity .5s;
			}

			nav .search[data-style="open"] {
				width: 200px;
			}

			nav .search:after {
				content: ' ';
				position: absolute;
				top: auto;
				bottom: 0px;
				left: 0px;
				width: 100%;
				height: 2px;
				border-bottom: 2px solid #FFFFFF;
				z-index: 100;
			}

			nav .search input {
				width: 100%;
				height: 100%;
				background-color: transparent;
				border: none;
				box-sizing: border-box;
				padding: 5px 15px 5px 0px;

				color: #FFFFFF;
			}

			nav .search button {
				position: absolute;
				top: 8px;
				left: auto;
				right: 0px;
				z-index: 100;
			}

			@media (max-width: 575px) {
				nav .search {
					position: fixed;
				    top: 60px;
				    left: 0px;
				    z-index: 1000;
				    width: 0vw;
				    height: auto;
				    box-sizing: border-box;
				    margin: 0px;
				    padding: 15px 15px;
					background-color: rgba(34, 35, 38, 1);
					opacity: 0;
				}

				nav .search[data-style="open"] {
					width: 100vw;
				    padding: 15px 15px;
					opacity: 1;
				}

				nav .search input {
					padding: 5px 45px 5px 0px;
				}


				nav .search button {
					top: 14px;
					right: 18px;
				}
			}
		/* Search */

		/* Custom */
			body.page_2 nav {
				background-color: rgba(34, 35, 38, 1);
			}

			body.page_2 nav .logo {
				-webkit-transform: translateY(-4px) scale(.75,.75);
				-moz-transform: translateY(-4px) scale(.75,.75);
				-ms-transform: translateY(-4px) scale(.75,.75);
				-o-transform: translateY(-4px) scale(.75,.75);
				transform: translateY(-4px) scale(.75,.75);
			}
		/* Custom */
	/* Nav */

	/* Grid */
		.flex { display: flex; }
		.flex-row { flex-direction: row; }
		.flex-col { flex-direction: column; }

		.grid-container {
			display: block;
			width: 100%;
			height: auto;
			box-sizing: border-box;
			margin: 0 auto;
			padding: 0px 30px;
		}

		@media (max-width: 575px) {
			.grid-container {
				padding: 0px 5px;
			}
		}

		/*.grid-container {
			max-width: 1418px;
		}*/

		.grid-row {
			display: flex;
			width: 100%;
			height: auto;
		}

		.grid-row.align-center,
		.grid-col.align-center {
			justify-content: center;
		    align-items: center;
		    align-content: center;
		}
		
		.grid-row.align-start,
		.grid-col.align-start {
			justify-content: flex-start;
			align-items: center;
			align-content: center;
		}

		.grid-row.align-end,
		.grid-col.align-end {
			justify-content: flex-end;
			align-items: center;
			align-content: center;
		}

		.grid-col {
			display: inline-flex;
		}

		.grid-col.col-6 { width: 50%; }
		.grid-col.col-4 { width: 25%; }
		.grid-col.col-3 { width: 33.333333%; }
	/* Grid */

	/* Buttons */
		.btn {
		    display: inline-block;
		    width: auto;
		    min-width: 130px;
		    height: auto;
		    background: #749D3E;
		    box-sizing: border-box;
		    margin: 0;
		    padding: 0px 45px;
		    border: none;
		    cursor: pointer;

		    transition: 0.3s ease-out all;
		    -moz-border-radius: 4px;
		    -webkit-border-radius: 4px;
		    border-radius: 4px;
		    -moz-box-shadow: 0 2px 13px rgba(0,0,0,.19);
		    -webkit-box-shadow: 0 2px 13px rgba(0,0,0,.19);
		    box-shadow: 0 2px 13px rgba(0,0,0,.19);

		    font-size: 16px;
		    font-weight: 600;
		    line-height: 60px;
		    letter-spacing: 0em;
		    color: #ffffff;
		    text-align: center;
		    text-decoration: none;
		}

		.btn:hover {
			background: #83AA4F;
		}

		.btn.btn-bordered {
			background: transparent;
		    border: 2px solid #749D3E;
		    color: #749D3E;
		}

		.btn.btn-bordered:hover {
			background: #749D3E;
		    border: 2px solid #749D3E;
		    color: #FFFFFF;
		}

		.btn.btn-sm {
		    padding: 0px 20px;

			font-size: 16px;
		    font-weight: 600;
		    line-height: 48px;
		}

		@media (max-width: 575px) {
			.btn {
				width: 100%;
			}

			.btn.btn-inline {
				width: auto;
			}
		}

		@media (max-width: 478px) {
			.btn {
				width: 100%;
			    padding: 0px 10px;
			    font-weight: 900;
			    line-height: 48px;
			    font-size: 12px;
			}
		}

		.btn[disabled] {
			opacity: .5;
			pointer-events: none;
		}
	/* Buttons */

	/* Inputs */
		.form-control {
		    position: relative;
			display: inline-block;
		    font-family: 'Roboto', sans-serif;
		    width: auto;
		    background-color: transparent;
		    border: none;
		    border-bottom: 2px solid #D4D7DF;
		    color: #ACB4BA;
		    box-sizing: border-box;
		    font-size: 16px;
		    line-height: 48px;
		    font-weight: 500;
		    margin: 0;
		    padding: 0;
		}

		.form-input {
		    width: auto;
		    height: auto;
		    min-height: 42px;
		    display: inline-block;
		    margin: 0;
		    -moz-border-radius: 4px;
		    -webkit-border-radius: 4px;
		    border-radius: 4px;
		    box-sizing: border-box;
		    padding: 0px 18px;
		    border: 2px solid #eee;

		    font-size: 13px;
		    font-weight: 500;
		    line-height: 38px;
		    color: #8C969E;
		    font-family: 'Roboto', sans-serif;
		    box-shadow: none;
		    resize: none;
		}

		/* Checkbox */
			.form-checkbox {
				display: inline-block;
				position: relative;
				width: 16px;
				height: 16px;
				border-radius: 4px;
				background: #ECECEC;
				cursor: pointer;
			}

			.form-checkbox input {
				display: none;
			}

			.form-checkbox[data-checked="true"]:before {
				content: '';
				position: absolute;
				top: 6px;
				left: 4px;
				width: 2px;
				height: 6px;
				background-color: #749D3E;
				z-index: 100;

				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			.form-checkbox[data-checked="true"]:after {
				content: '';
				position: absolute;
				top: 3px;
				left: 9px;
				width: 2px;
				height: 10px;
				background-color: #749D3E;
				z-index: 100;

				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		/* Checkbox */
	/* Inputs */

	/* Privacy */
		form .privacy {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			align-content: center;
			width: 100%;
			height: auto;
		}
		
		form .privacy .form-checkbox {
			display: inline-flex;
			margin-right: 5px;
		}

		form .privacy span {
			display: inline-flex;
			font-size: 14px;
		    line-height: 24px;
		    color: #374047;
		    box-sizing: border-box;
		    padding: 0;
		    cursor: pointer;

		    -webkit-transition: color .3s;
		    -moz-transition: color .3s;
		    -ms-transition: color .3s;
		    -o-transition: color .3s;
		    transition: color .3s;
		}

		form .privacy span:hover {
			color: #749D3E;
		}

		@media (max-width: 575px) {
			form .privacy span {
				font-size: 8px;
			}
		}
	/* Privacy */

	/* Stickers */
	/* Stickers */

	/* Dropdown */
		.dropdown {
			position: relative;
			box-sizing: border-box;

		}

		.dropdown .list {
			position: absolute;
			top: 40px;
			left: -5px;
			z-index: 100;

			display: flex;
			justify-content: flex-start;
			align-items: center;
			align-content: center;
			flex-direction: column;

			width: 260px;
			height: auto;
			border-radius: 4px;
    		background-color: #e1617f;
    		opacity: 0;

    		-webkit-transition: transform .5s, opacity .5s;
			-moz-transition: transform .5s, opacity .5s;
			-ms-transition: transform .5s, opacity .5s;
			-o-transition: transform .5s, opacity .5s;
			transition: transform .5s, opacity .5s;

			-webkit-transform: rotateX(90deg) translateY(50px) scale(.95,.95);
			-moz-transform: rotateX(90deg) translateY(50px) scale(.95,.95);
			-ms-transform: rotateX(90deg) translateY(50px) scale(.95,.95);
			-o-transform: rotateX(90deg) translateY(50px) scale(.95,.95);
			transform: rotateX(90deg) translateY(50px) scale(.95,.95);

			-webkit-transform-origin: 0% 0%;
			transform-origin: 0% 0%;
		}

		@media (max-width: 575px) {
			.dropdown .list {
				width: calc(100vw - 20px);
			}
		}


		.dropdown:hover .list {
    		opacity: 1;

			-webkit-transform: rotateX(0deg) translateY(0px) scale(1,1);
			-moz-transform: rotateX(0deg) translateY(0px) scale(1,1);
			-ms-transform: rotateX(0deg) translateY(0px) scale(1,1);
			-o-transform: rotateX(0deg) translateY(0px) scale(1,1);
			transform: rotateX(0deg) translateY(0px) scale(1,1);
		}

		.dropdown .list:before {
			content: ' ';
			position: absolute;
			top: -8px;
			left: 10px;
			z-index: 100;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #e1617f;
		}

		.dropdown .list .item {
			width: 100%;
			height: auto;
			box-sizing: border-box;
			padding: 10px 15px;
			background-color: rgba(255,255,255,0);
			border-bottom: 1px solid rgba(255,255,255,.25);

	    	font-size: 16px;
	    	font-weight: 700;
			color: #ffffff;
			text-decoration: none;

			-webkit-transition: background-color .15s;
			-moz-transition: background-color .15s;
			-ms-transition: background-color .15s;
			-o-transition: background-color .15s;
			transition: background-color .15s;
		}

		@media (max-width: 575px) {
			.dropdown .list .item {
				padding: 20px 15px;
			}
		}

		.dropdown .list .item:last-child {
			border: none;
		}

		.dropdown .list .item:hover {
			background-color: rgba(255,255,255,.25);
		}
	/* Dropdown */

	/* Close */
		.btn-close {
			position: relative;
			border: none;
			background-color: transparent;
			cursor: pointer;
		}

		.btn-close.btn-xs {
			width: 12px;
			height: 12px;
		}

		@media (max-width: 575px) {
			.btn-close.btn-xs {
				width: 24px;
				height: 24px;
			}
		}

		.btn-close:before {
			content: ' ';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #eee;

			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);

			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}

		.btn-close:after {
			content: ' ';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #eee;

			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);

			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}
	/* Close */

	/* Svg */
		.svg-container {
			margin: 0px 10px;
		}

		.svg-container.pointer {
			cursor: pointer;
		}

		.svg {
			position: relative;
			width: 28px;
			height: 28px;
			opacity: 1;
			
			-webkit-transition: transform .5s;
			-moz-transition: transform .5s;
			-ms-transition: transform .5s;
			-o-transition: transform .5s;
			transition: transform .5s;

			-webkit-transform: scale(1,1);
			-moz-transform: scale(1,1);
			-ms-transform: scale(1,1);
			-o-transform: scale(1,1);
			transform: scale(1,1);

			-webkit-transform-origin: 50% 50%;
			-moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			-o-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}

		.svg:hover {
			-webkit-transform: scale(1.1,1.1);
			-moz-transform: scale(1.1,1.1);
			-ms-transform: scale(1.1,1.1);
			-o-transform: scale(1.1,1.1);
			transform: scale(1.1,1.1);
		}
	/* Svg */
/* Components */

/* Add */
	/* Roistat */
		.roistat-visit {
			position: fixed;
			top: auto;
			bottom: 0;
			left: auto;
			right: 0;
			width: auto;
			height: auto;
			box-sizing: border-box;
			padding: 7.5px 15px;
			background-color: #739d3d;
			border-radius: 8px 0px 0px 0px;
			z-index: 10000;
			opacity: 0;

			-webkit-animation: slide-up-in .5s forwards;
			animation: slide-up-in .5s forwards;
		}

		@-webkit-keyframes slide-up-in {
		  0%   { opacity: 0; -webkit-transform: translateY(10px); }
		  100% { opacity: 1; -webkit-transform: translateY(0px); }
		}
		@-moz-keyframes slide-up-in {
		  0%   { opacity: 0; -moz-transform: translateY(10px); }
		  100% { opacity: 1; -moz-transform: translateY(0px); }
		}
		@-o-keyframes slide-up-in {
		  0%   { opacity: 0; -o-transform: translateY(10px); }
		  100% { opacity: 1; -o-transform: translateY(0px); }
		}
		@keyframes slide-up-in {
		  0%   { opacity: 0; transform: translateY(10px); }
		  100% { opacity: 1; transform: translateY(0px); }
		}

		
		.roistat-visit > p {
			text-overflow: ellipsis;
		    font-size: 15px;
		    font-weight: 700;
		    line-height: 15px;
			color: #FFFFFF;
			margin: 0;
			padding: 0;
		}

		@media (max-width: 767px) {
			.roistat-visit > p {
		    	font-size: 10px;
			    line-height: 12px;
			}
		}
	/* Roistat */
/* Add */

/* Helper classes */
	.hidden { opacity: 0; }

    .font-open-sans { font-family: 'Open Sans', sans-serif; }
    .font-roboto { font-family: 'Roboto', sans-serif; }

    .font-weight-700 { font-weight: 700; }
    .font-weight-400 { font-weight: 400; }
    .font-weight-300 { font-weight: 300; }

    .text-color-white { color: #FFFFFF; }
    .text-color-gray { color: #ECECEC; }
    .text-color-black { color: #1A1A18; }
    .text-color-green { color: #749D3E; }
    .text-color-red { color: #d00; }

    .background-color-white { background-color: #FFFFFF; }
    .background-color-gray { background-color: #F2F2F2; }
    .background-color-black { background-color: #1A1A18; }
    .background-color-sea { background-color: #056686; }
    .background-color-blue { background-color: #0081B4; }
    .background-color-red { background-color: #DD0061; }
    .background-color-pink { background-color: #FF0086; }
    .background-color-yellow { background-color: #FFDA08; } 	 	 	

    .text-align-left { text-align: left; }
    .text-align-right { text-align: right; }
    .text-align-center { text-align: center; }

    .text-upper { text-transform: uppercase; }

    
    .block{ display: block !important; }
    .inline{ display: inline !important; }
    .inline-block{ display: inline-block !important; }
    .justify{ width: 100% !important; }


    .padding{ box-sizing: border-box; }
    .padding.xxs{ padding: 0 .1rem; }
    .padding.xs{ padding: 0 .5rem; }
    .padding.sm{ padding: 0 1rem; }
    .padding.md{ padding: 0 1.5rem; }
    .padding.lg{ padding: 0 2rem; }
    .padding.xl{ padding: 0 2.5rem; }
    .padding.xxl{ padding: 0 3rem; }
    .padding.no{ padding: 0 !important; }
    .margin.no{ margin: 0 !important; }
    .margin.xxs{ margin: 0 .1rem; }
    .margin.xs{ margin: 0 .5rem; }



    hr.indent{ border: none; background: transparent; margin: 0; padding: 0; width: 100%; }
    hr.indent.xxs{ height: .5rem; }
    hr.indent.xs{ height: 1rem; }
    hr.indent.sm{ height: 2rem; }
    hr.indent.md{ height: 3rem; }
    hr.indent.lg{ height: 4rem; }
    hr.indent.xl{ height: 5rem; }

    
    hr {
    	border: none;
    	border-bottom: 1px solid #CECECE;
    }


    @media (min-width: 1920px) {
    	.hidden-xxl { display: none; }
	}

	@media (min-width: 1200px) and (max-width: 1919px) {
		.hidden-xl { display: none; }
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		.hidden-lg { display: none; }
	}
	

    @media (min-width: 768px) and (max-width: 991px) {
    	.hidden-md { display: none; }

    	.text-align-left-md { text-align: left !important; }
	    .text-align-right-md { text-align: right !important; }
	    .text-align-center-md { text-align: center !important; }
    }

    @media (min-width: 576px) and (max-width: 767px) {
    	.hidden-sm { display: none; }

    	.text-align-left-sm { text-align: left !important; }
	    .text-align-right-sm { text-align: right !important; }
	    .text-align-center-sm { text-align: center !important; }
    }

    @media (max-width: 575px) {
    	.hidden-xs { display: none; }

    	.text-align-left-xs { text-align: left !important; }
	    .text-align-right-xs { text-align: right !important; }
	    .text-align-center-xs { text-align: center !important; }
    }
/* Helper classes */